<html>
    <head>
        <title>Administrar PreAlumnos</title>
        <link href="/style/style.css" rel="stylesheet">
    </head>

    <body>
       
					

<table style="height: 26px; width: 100%; background: steelblue; color: lightsteelblue;;" cellspacing="4">
	<tbody>
		<tr>
			<td style="vertical-align: middle; text-align: left">
					<img src="/cygnus/images/menu_home.gif" style="VERTICAL-ALIGN: middle;">
					<a href="../index.html"><font color="white"> &nbsp;home</font></a> 
					&nbsp;
					<a href="../index.html"><font color="white"> &nbsp;Tesorería</font></a> 
					<a href="../index.html"><font color="white"> &nbsp;Nuevos Postulantes</font></a> 
					<a href="../index.html"><font color="white"> &nbsp;Alumnado</font></a> 
				</div>
			</td>
		</tr>
	</tbody>
</table>

<!-- main menu bar -->

               
            
<div id="printableArea" style="height: 90%; width: 100%;">


<!-- header -->

    <table style="height: 30px; width: 730px; margin-top: 6px; margin-bottom: 6px; border-bottom: 2px dotted silver;" cellspacing="0" cellpadding="0">
       
    </table>
<!-- end header -->

<table cellspacing="6" cellpadding="6" style="width: 100%;">
	<colgroup>
		<col style="width: 16px;">
		<col>	
	</colgroup>

	<tbody style="vertical-align: top;">
		
	</tbody>
</table>


<!-- Listado de registros -->
<form name="main" method="post" action="/cygnus/system/alumnado/cursado/cmd_InscripcionDefinitiva.asp">


	
    <div style="width: 730px; margin:0px; padding: 0px;"> </div>

    <table class="grid" cellspacing="0" cellpadding="0" style="width: 100%;">

        <colgroup> <col style="width: 12px" /> Carreras </colgroup>
        <thead>
            <tr>
                <th> <span> Nombre</span></th>
            </tr>
        </thead>


        <tbody>
            <tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=25910,turId=6,plaId=10" /></td>
   <td nowrap><span class="mimic">ABOGACÍA</span></td>
   
 
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=22987,turId=1,plaId=10" /></td>
   <td nowrap><span class="mimic"></span>CONTADOR PÚBLICO</span></td>
   
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=30531,turId=1,plaId=10" /></td>
   <td nowrap><span class="mimic" >PSICOLOGÍA</span></td>
   
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=25076,turId=1,plaId=10" /></td>
   <td nowrap><span class="mimic" >PSICOPEDAGOGÍA</span></td>
  
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=37544,turId=1,plaId=19" /></td>
   <td nowrap><span class="mimic">CIENCIAS DE LA EDUCACIÓN</span></td>
  
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=37444,turId=5,plaId=71" /></td>
   <td nowrap><span class="mimic" > <a href="radiologíaTest.html">TECNICATURA UNIVERSITARIA EN RADIOLOGÍA</a></span></td>
 
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=25924,turId=2,plaId=39" /></td>
   <td nowrap><span class="mimic" >TECNICATURA UNIVERSITARIA EN INSTRUMENTACIÓN QUIRÚRGICA</span></td>
 
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=25181,turId=2,plaId=39" /></td>
   <td nowrap><span class="mimic" >LIC. EN PRODUCCIÓN DE BIO-IMÁGENES</span></td>
 
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=25926,turId=2,plaId=39" /></td>
   <td nowrap><span class="mimic">LIC. EN INSTRUMENTACIÓN QUIRÚRGICA </span></td>
 
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=25187,turId=2,plaId=39" /></td>
   <td nowrap><span class="mimic" >LIC. EN ADMINISTRACIÓN</span></td>
  
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=23110,turId=2,plaId=40" /></td>
   <td nowrap><span class="mimic" >LIC. EN COMERCIO EXTERIOR</span></td>
   
</tr>
<tr>
   <td nowrap><input class="noBorder" type="checkbox" name="Cursado_Key" value="aluId=23346,turId=2,plaId=40" /></td>
   <td nowrap><span class="mimic">TECNICATURA UNIVERSITARIA EN ACOMPAÑANTE TERAPEUTICO </span></td>
  
</tr>

            <!-- End database list -->
        </tbody>
    </table>

</form>
	<script language="javascript">
			document.getElementById("filter_text").focus();
	</script>


<!-- DON'T PLACE CONTENTS BELOW THIS LINE !!!! -->
<!-- ***************************************** -->
                        </div>
                    </td>
                </tr>
<!-- Footer Container -->
                <tr>
                    <td style="height: 48px; vertical-align: bottom;">
                    <!-- FOOTER -->
                    <!-- Page Footer -->
<table style="width: 100%; margin-top: 24px; color: silver; background: #f5f5f5;">
	<tbody>
		<tr>
			<td style="width: 80px; vertical-align: middle;"><a href="http://www.aconcaguasf.com"><img src="/cygnus/logo_foot.gif" WIDTH="90" HEIGHT="40"></a></td>
			<td width="4" style="vertical-align: middle;"></td>
			<td style="vertical-align: middle;">
				<img src="/cygnus/button_top.gif" style="vertical-align: middle; margin-right: 2px;" /><a href="javascript:window.scroll(0);" style="color: silver; font-weight: bold;">top</a> | 
				<a href="javascript:history.back();" style="color: silver; font-weight: bold;">back</a> | 
				<a href="http://www.solus.com.ar" style="color: silver; font-weight: bold;">home</a> | 
				<a href style="color: silver; font-weight: bold;">site map</a> | 
				<a href="mailto:soporte@aconcaguasf.com" style="color: silver; font-weight: bold;">support</a><br>

			copyright © 2005-2009 <b>Aconcagua Software Factory S.A. Todos los derechos reservados.</b><br>
			La utilización de este sitio implica la aceptación del <a href="/cygnus/legal/TOU.asp" style="color: silver;">condiciones de utilización</b>.
			</td>
		</tr>
	</tbody>
</table>

                    <!-- END FOOTER -->
                    </td>
                </tr>
<!-- End Footer Container -->

        </table>
<!-- End Main Container -->

    </body>


</html>