
   <!DOCTYPE html>
   <html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Administrar PreAlumnos</title>
      <link href="../style/style.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
   </head>
  
  
        
    

    <body>
       
					

<table style="height: 26px; width: 100%; background: steelblue; color: lightsteelblue;;" cellspacing="4">
	<tbody>
		<tr>
			<td style="vertical-align: middle; text-align: left">
					<img src="../cygnus/menu_home.gif" style="VERTICAL-ALIGN: middle;">
					<a href="../index.html"><font color="white"> &nbsp;home</font></a> 
					&nbsp;
					<a href="../index.html"><font color="white"> &nbsp;Tesorería</font></a> 
					<a href="../index.html"><font color="white"> &nbsp;Nuevos Postulantes</font></a> 
					<a href="../index.html"><font color="white"> &nbsp;Alumnado</font></a> 
				</div>
			</td>
		</tr>
	</tbody>
</table>

<!-- main menu bar -->

               
            
<div id="printableArea" style="height: 90%; width: 100%;">


<!-- header -->

    <table style="height: 30px; width: 730px; margin-top: 6px; margin-bottom: 6px; border-bottom: 2px dotted silver;" cellspacing="0" cellpadding="0">
       
    </table>
<!-- end header -->

<div id="careers">Carreras</div>

<!-- Listado de registros -->


<ul id="ul">
   <li>ABOGACÍA</li>
   <li>CONTADOR PÚBLICO</li>
   <li>PSICOLOGÍA</li>
   <li>PSICOPEDAGOGÍA</li>
   <li>CIENCIAS DE LA EDUCACIÓN</li>
   <li> <a href="radiologíaTest.html">TECNICATURA UNIVERSITARIA EN RADIOLOGÍA</a></li>
   <li>TECNICATURA UNIVERSITARIA EN INSTRUMENTACIÓN QUIRÚRGICA</li>
   <li>LIC. EN PRODUCCIÓN DE BIO-IMÁGENES</li>
   <li>LIC. EN INSTRUMENTACIÓN QUIRÚRGICA </li>
   <li>LIC. EN ADMINISTRACIÓN</li>
   <li>LIC. EN COMERCIO EXTERIOR</li>
   <li>TECNICATURA UNIVERSITARIA EN ACOMPAÑANTE TERAPEUTICO</li>
</ul>


     



<!-- DON'T PLACE CONTENTS BELOW THIS LINE !!!! -->
<!-- ***************************************** -->
                        </div>
                    </td>
                </tr>
<!-- Footer Container -->
                <tr>
                    <td style="height: 48px; vertical-align: bottom;">
                    <!-- FOOTER -->
                    <!-- Page Footer -->
<table style="width: 100%; margin-top: 24px; color: silver; background: #f5f5f5;">
	<tbody>
		<tr>
			<td style="width: 80px; vertical-align: middle;"><a href="http://www.aconcaguasf.com"><img src="../cygnus/logo_foot.gif" WIDTH="90" HEIGHT="40"></a></td>
			<td width="4" style="vertical-align: middle;"></td>
			<td style="vertical-align: middle;">
				<img src="../cygnus/button_top.gif" style="vertical-align: middle; margin-right: 2px;" /><a href="javascript:window.scroll(0);" style="color: silver; font-weight: bold;">top</a> | 
				<a href="javascript:history.back();" style="color: silver; font-weight: bold;">back</a> | 
				<a href="http://www.solus.com.ar" style="color: silver; font-weight: bold;">home</a> | 
				<a href style="color: silver; font-weight: bold;">site map</a> | 
				<a href="mailto:soporte@aconcaguasf.com" style="color: silver; font-weight: bold;">support</a><br>

			copyright © 2005-2009 <b>Aconcagua Software Factory S.A. Todos los derechos reservados.</b><br>
			La utilización de este sitio implica la aceptación del <a href="/cygnus/legal/TOU.asp" style="color: silver;">condiciones de utilización</b>.
			</td>
		</tr>
	</tbody>
</table>

                    <!-- END FOOTER -->
                    </td>
                </tr>
<!-- End Footer Container -->

        </table>
<!-- End Main Container -->

    </body>


</html>