<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
  <link href="normalize" rel="stylesheet">
</head>

<body>
  <div class="main-container">

    <!-- Como hicieron para tener el navbar a la izquierda?????? -->
    <section class="navbar-container__desktop">
      
      <h1 class="uno">Emanuel Rodriguez</h1>

      <ul id="lista"> 
        <li class="listauno"><i class="fas fa-home" id="listados"></i>Home</li>
        <li class="listauno"> <i class="fas fa-book-open" id="listatres"></i>Experiencia</li>
        <li class="listauno"> <i class="fas fa-briefcase" id="listacuatro"></i>Mis trabajos</li>
        <li class="listauno"><i class="fas fa-comments" id="listacinco"></i>Contáctame</li>
      </ul>
    </section>
     

    <div class="full-container">
        
      <section class="navbar-container__mobile">
        <nav class="navbar-container__mobile__list">

          <label for="navbar" class="navbar-container__mobile__list__label">
            <input type="checkbox" id="navbar" class="navbar-input" />
            <div class="navbar-open">
              <i class="fas fa-bars"></i>
            </div>
            <div class="navbar-close">
              <i class="fas fa-times"></i>
            </div>
            <div class="navbar-contet">
              <a href="index.html">Home</a>
            </div>
          </label>
        </nav>
      </section>


      <!-- Parte principal -->

      <section class="banner-container" id="home">
        
        <!-- <div> Iconos creados por <a href="https://www.flaticon.com/authors/freepik" title="Freepik"> Freepik </a> de <a href = "https: //www.flaticon. com / "title =" Flaticon "> www.flaticon.com </a> </div> -->
        <div class="background-image"></div>
        
        <div id="imagen"></div>
        <p id="emanuel">Emanuel Rodriguez</p>
       
        <p id="subtitulo">Desarrollador Front-End en proceso</p>
        <div class="redes">
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/emanuel.rodriguezzz/" target="blank"><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-whatsapp"></i></a>
        </div>
      
        <a class="banner-container__scroll" href="#skils"> <span>Scroll Down</span> </a>
        
      </section>



      <!-- Experiencia  -->

      <section class="experience-container container" id="experience">
        <h3 class="title-content">Experiencia</h3>
        <div class="experience-container__topics">
          <div class="experience-container__topics__card">
            <div class="experience-container__topics__card__data">
              <i class="fas fa-graduation-cap"></i>
              <p class="experience-container__topics__card__data__description">Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum perfecto.</p>
            </div>
          </div>
        </div>
      </section>

<!--  Trabajos -->

      <section class="works-container container" id="works">
        <h3 class="title-content">Mis trabajos</h3>
        <div class="works-container__topics">
          <div class="works-container__topics__card">
            <div>Imagen de trabajo</div>
            <div class="works-container__topics__card__mask">
              <span>Photo magic</span>
            </div>
          </div>
        </div>
      </section>


    </div>

  </div>
  <script src="https://kit.fontawesome.com/7aa36192fa.js" crossorigin="anonymous"></script>
</body>
</html>